

<app-header></app-header> 








<router-outlet></router-outlet> 


<div class="home-container">
  
    <header class="hero-section">
      <h1 class="hero-title">Welcome to Archaeological Site Management</h1>
      <p class="hero-description">Explore and manage archaeological sites, artifacts, and publications.</p>
      <!-- <button><a class="cta-button" href="/signup">Signup</a></button> -->
    </header>
  
    <section class="features-section">
      <!-- <img src="assests/req.jpg"  class="feature-image" /> -->
      <div class="feature-box">
        <h2>Manage Sites</h2>
        <p>Efficiently manage archaeological sites, keep track of location data, and other key details.</p>
      </div>
      <div class="feature-box">
        <h2>Explore Artifacts</h2>
        <p>Discover ancient artifacts, view details, and research historical significance.</p>
      </div>
      <div class="feature-box">
        <h2>Publications</h2>
        <p>Read the latest research publications in the field of archaeology and historical preservation.</p>
      </div>
    </section>
  
    <footer class="footer">
      <p>&copy; 2024 Archaeological Site Management. All Rights Reserved.</p>
    </footer>
  </div>
